<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>redeemMe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddOrderController</display-name>
    <servlet-name>AddOrderController</servlet-name>
    <servlet-class>redeemMe.Order.controller.AddOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderController</servlet-name>
    <url-pattern>/AddOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderController</display-name>
    <servlet-name>DeleteOrderController</servlet-name>
    <servlet-class>redeemMe.Order.controller.DeleteOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderController</servlet-name>
    <url-pattern>/DeleteOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderController</display-name>
    <servlet-name>ListOrderController</servlet-name>
    <servlet-class>redeemMe.Order.controller.ListOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderController</servlet-name>
    <url-pattern>/ListOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderController</display-name>
    <servlet-name>UpdateOrderController</servlet-name>
    <servlet-class>redeemMe.Order.controller.UpdateOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderController</servlet-name>
    <url-pattern>/UpdateOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderController</display-name>
    <servlet-name>ViewOrderController</servlet-name>
    <servlet-class>redeemMe.Order.controller.ViewOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderController</servlet-name>
    <url-pattern>/ViewOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupplierController</display-name>
    <servlet-name>AddSupplierController</servlet-name>
    <servlet-class>redeemMe.supplier.controller.AddSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierController</servlet-name>
    <url-pattern>/AddSupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSupplierController</display-name>
    <servlet-name>DeleteSupplierController</servlet-name>
    <servlet-class>redeemMe.supplier.controller.DeleteSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSupplierController</servlet-name>
    <url-pattern>/DeleteSupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSupplierController</display-name>
    <servlet-name>ListSupplierController</servlet-name>
    <servlet-class>redeemMe.supplier.controller.ListSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSupplierController</servlet-name>
    <url-pattern>/ListSupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSupplierController</display-name>
    <servlet-name>UpdateSupplierController</servlet-name>
    <servlet-class>redeemMe.supplier.controller.UpdateSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSupplierController</servlet-name>
    <url-pattern>/UpdateSupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSupplierController</display-name>
    <servlet-name>ViewSupplierController</servlet-name>
    <servlet-class>redeemMe.supplier.controller.ViewSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSupplierController</servlet-name>
    <url-pattern>/ViewSupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>redeemMe.product.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>redeemMe.product.controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/DeleteProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductController</display-name>
    <servlet-name>ListProductController</servlet-name>
    <servlet-class>redeemMe.product.controller.ListProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductController</servlet-name>
    <url-pattern>/ListProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>redeemMe.product.controller.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/UpdateProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductController</display-name>
    <servlet-name>ViewProductController</servlet-name>
    <servlet-class>redeemMe.product.controller.ViewProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductController</servlet-name>
    <url-pattern>/ViewProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShipmentController</display-name>
    <servlet-name>AddShipmentController</servlet-name>
    <servlet-class>redeemMe.shipment.controller.AddShipmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShipmentController</servlet-name>
    <url-pattern>/AddShipmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShipmentController</display-name>
    <servlet-name>DeleteShipmentController</servlet-name>
    <servlet-class>redeemMe.shipment.controller.DeleteShipmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShipmentController</servlet-name>
    <url-pattern>/DeleteShipmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListShipmentController</display-name>
    <servlet-name>ListShipmentController</servlet-name>
    <servlet-class>redeemMe.shipment.controller.ListShipmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListShipmentController</servlet-name>
    <url-pattern>/ListShipmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShipmentController</display-name>
    <servlet-name>UpdateShipmentController</servlet-name>
    <servlet-class>redeemMe.shipment.controller.UpdateShipmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShipmentController</servlet-name>
    <url-pattern>/UpdateShipmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewShipmentController</display-name>
    <servlet-name>ViewShipmentController</servlet-name>
    <servlet-class>redeemMe.shipment.controller.ViewShipmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewShipmentController</servlet-name>
    <url-pattern>/ViewShipmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>redeemMe.user.controller.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>redeemMe.user.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserController</display-name>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>redeemMe.user.controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserController</display-name>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>redeemMe.user.controller.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserController</display-name>
    <servlet-name>ViewUserController</servlet-name>
    <servlet-class>redeemMe.user.controller.ViewUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserController</servlet-name>
    <url-pattern>/ViewUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSupplierNameController</display-name>
    <servlet-name>ViewSupplierNameController</servlet-name>
    <servlet-class>redeemMe.supplier.controller.ViewSupplierNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSupplierNameController</servlet-name>
    <url-pattern>/ViewSupplierNameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDashboard</display-name>
    <servlet-name>ViewDashboard</servlet-name>
    <servlet-class>redeemMe.dashboard.ViewDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDashboard</servlet-name>
    <url-pattern>/ViewDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateProduct</display-name>
    <servlet-name>ToUpdateProduct</servlet-name>
    <servlet-class>redeemMe.product.controller.ToUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateProduct</servlet-name>
    <url-pattern>/ToUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToDeleteProduct</display-name>
    <servlet-name>ToDeleteProduct</servlet-name>
    <servlet-class>redeemMe.product.controller.ToDeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToDeleteProduct</servlet-name>
    <url-pattern>/ToDeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateSupplier</display-name>
    <servlet-name>ToUpdateSupplier</servlet-name>
    <servlet-class>redeemMe.supplier.controller.ToUpdateSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateSupplier</servlet-name>
    <url-pattern>/ToUpdateSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToDeleteSupplier</display-name>
    <servlet-name>ToDeleteSupplier</servlet-name>
    <servlet-class>redeemMe.supplier.controller.ToDeleteSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToDeleteSupplier</servlet-name>
    <url-pattern>/ToDeleteSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateUser</display-name>
    <servlet-name>ToUpdateUser</servlet-name>
    <servlet-class>redeemMe.user.controller.ToUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateUser</servlet-name>
    <url-pattern>/ToUpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateOrder</display-name>
    <servlet-name>ToUpdateOrder</servlet-name>
    <servlet-class>redeemMe.Order.controller.ToUpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateOrder</servlet-name>
    <url-pattern>/ToUpdateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>redeemMe.user.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductControllerCustomer</display-name>
    <servlet-name>ListProductControllerCustomer</servlet-name>
    <servlet-class>redeemMe.product.controller.ListProductControllerCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductControllerCustomer</servlet-name>
    <url-pattern>/ListProductControllerCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderControllerCustomer</display-name>
    <servlet-name>ListOrderControllerCustomer</servlet-name>
    <servlet-class>redeemMe.Order.controller.ListOrderControllerCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderControllerCustomer</servlet-name>
    <url-pattern>/ListOrderControllerCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderControllerCustomer</display-name>
    <servlet-name>AddOrderControllerCustomer</servlet-name>
    <servlet-class>redeemMe.Order.controller.AddOrderControllerCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderControllerCustomer</servlet-name>
    <url-pattern>/AddOrderControllerCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductCartControllerCustomer</display-name>
    <servlet-name>AddProductCartControllerCustomer</servlet-name>
    <servlet-class>redeemMe.product.controller.AddProductCartControllerCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductCartControllerCustomer</servlet-name>
    <url-pattern>/AddProductCartControllerCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutCustomerController</display-name>
    <servlet-name>CheckOutCustomerController</servlet-name>
    <servlet-class>redeemMe.user.controller.CheckOutCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutCustomerController</servlet-name>
    <url-pattern>/CheckOutCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToCheckoutProduct</display-name>
    <servlet-name>ToCheckoutProduct</servlet-name>
    <servlet-class>redeemMe.product.controller.ToCheckoutProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToCheckoutProduct</servlet-name>
    <url-pattern>/ToCheckoutProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReceiptControllerCustomer1</display-name>
    <servlet-name>GenerateReceiptControllerCustomer1</servlet-name>
    <servlet-class>redeemMe.Order.controller.GenerateReceiptControllerCustomer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReceiptControllerCustomer1</servlet-name>
    <url-pattern>/GenerateReceiptControllerCustomer1</url-pattern>
  </servlet-mapping>
</web-app>